@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --gryphon-red: #04c234;
    --gryphon-red-transparent: #04c234CC;
    --gryphon-yellow: #FFC72A;
    --gryphon-light-black: #2C2C2C;
    --gryphon-black: #000000;
    --gryphon-blue: #69A3B9;
    --gryphon-dark-gray: #4d4d4d;
    --gryphon-gray: #979797;;
    --gryphon-light-gray: #8C8C8C;
    --gryphon-dark-white: #E5E5E5;
    --gryphon-white: #FFFFFF;

    --light-black-filter: brightness(0) saturate(100%) invert(12%) sepia(0%) saturate(0%) hue-rotate(136deg) brightness(105%) contrast(88%);
    --red-filter: brightness(0) saturate(100%) invert(43%) sepia(90%) saturate(1219%) hue-rotate(102deg) brightness(102%) contrast(97%);

    --swiper-theme-color: var(--gryphon-red-transparent) !important;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--gryphon-light-black);
    color: var(--gryphon-black);
    margin: 0;
}

.hidden {
    display: none;
}

.swiper-pagination-bullet {
    width: 20px !important;
    height: 20px !important;
    text-align: center !important;
    line-height: 20px !important;
    font-size: 12px !important;
    color: #000 !important;
    opacity: 1 !important;
    background: var(--gryphon-gray) !important;
}

.swiper-pagination-bullet-active {
    color: #fff !important;
    background: var(--gryphon-red-transparent) !important;
}
